<!-- HTML = HyperText Markup Language -->
<!-- isso é uma tag <html>. -->
<!-- na tag <head> irá as configuracoes do meu documento. -->
<!-- na tag <body> irá todo conteúdo visível na página. -->
<!-- -->
<!-- alt + z = ajusta todo documento (cria quebras falsas) -->
<!-- -->
<!DOCTYPE html>
<html lang="pt_br"> <!-- lang é um atributo -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">

    <title>Proffy | Sua plataforma de estudos online</title>

    <!-- <style>

        /* CSS = Cascading Style Sheets*/

        /* class */
        /* .red {
            color: red;
        } */

        /* #page-landing h1 {
            color: gray;
        } */

        /* id */
        #page-landing {
            color: red;
        }

        .body h1 {
            color: gray;
        }

        h1 {
            color: green;
        }

    </style> -->

    <link rel="shortcut icon" href="./images/favicon.png" type="image/png">

    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/partials/page-landing.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-landing">
    <!-- <h1 style="color: red">Proffy</h1> -->
    <!-- <h1 class="red">Proffy</h1> -->

    <!-- regras padrao: -->
    <!-- display block = ocupa toda linha -->
    <!-- <h1>Primeiro filho</h1>
        <h1>Segundo filho</h1> -->
    <!-- display inline = ocupa um pedaco da linha-->
    <!-- <span>Irmao</span>
         <span>Irmao ao lado</span>
        <a href="#">link</a> -->
    <!-- essas regras mudam quando o flexbox e habilitado -->

    <div id="container">
        <!-- <h1>Proffy</h1> -->

        <!-- .logo-container + enter > result: -->
        <div class="logo-container">
            <img src="./images/logo.svg" alt="Proffy">
            <h2>Sua plataforma de estudos online</h2>
        </div>
        
        <img class="hero-image" src="./images/landing.svg" alt="Plataforma de estudos">

        <!-- <p>
            Sua plataforma de estudos online
        </p> -->
    
        <!-- <img src="" alt="Logo"> -->
    
        <!-- .buttons-container + enter > result: -->
        <div class="buttons-container">
            <!-- HTML puro: -->
       <!-- <a class="study" href="./study.html"> --> 
            <!-- Usando Express: -->
            <a class="study" href="/study">
                <img src="./images/icons/study.svg" alt="Estudar">
                Estudar
            </a>
            <!-- HTML puro: -->
       <!-- <a class="give-classes" href="./give-classes.html"> -->
            <!-- Usando Express: -->
            <a class="give-classes" href="/give-classes">
                <img src="./images/icons/give-classes.svg" alt="Dar aulas">
                Dar aulas
            </a>
        </div>

        <p class="total-connections">
            Total de 200 conexões já realizadas
            <img src="./images/icons/purple-heart.svg" alt="Coração roxo">
        </p>

    </div>
</body>
</html>